html, body {
	height: 100%;
	margin: 0;
	font-family: 'Arial';
	overflow: hidden;
	
}

#bodyEstable {

    background:  url(../img/ruido.png) repeat, url(../img/fondoMaps.png);
    z-index: -1; /* Keep the background behind the content */
    /* don't forget to use the prefixes you need */
    
}

#map-canvas {
	position: fixed;
	left: 0;
	top: 0;
    height: 100%;  
    
}


 .navbar{
 	
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	height: 90px;
	width: 100%;
	font-family: "Arial";
	box-shadow: inset 0px 85px 52px -29px rgba(0,0,0,0.5);

 }

 .menu {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.menu a, .menu a:visited {
  color: #ffffff;
}

.menu-items {
  display: inline-block;
  width: 75%;
}

.sitename {
  display: inline-block;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 20px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 2em;
  color: #FFFFFF;
  text-shadow: 0px 5px 9px rgba(0,0,0,0.50);
}

.menu-items li {
  display: inline-block;
  width: 45%;
}

.menu-items a {
  text-decoration: none;
}

.busqueda{
	text-align: center;
}

.menu-items img {
  width: 40px;
  vertical-align: middle;

}

.menu-items img:hover{ 
	opacity: 0.5;
}

.busqueda #search{

	border-radius:20px;
    border:0;
    border-top:1px solid #b4c1cb;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.08);
	height: 30px;
	width: 50%;
	background: white;
	opacity: 0.6;
	font-size: 16px;
	text-shadow:0 1px 1px #fff;
	text-align: left;
	margin-right: 15px;


}
.busqueda #search:focus{
	opacity: 1;
	border:2px solid #9ecbe2;
    box-shadow:0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08);
    
    outline: none;
}

.controles{
	text-align: left;
}

.controles img{ 
	margin-right: 1em;
	margin-left: 0.5em;
}
 

.controles ul li ul{ 
	
	 background: rgba(244,244,244, 0.7);
	 border: 0px solid #000;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	 -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	 margin: 10px 0 0 -46px;
	 padding: 0 10px 0;
	 position: absolute;
	 width: 126px;

}
.controles ul li ul li{ 
	border-bottom: 1px solid #CCC;
	 display: block;
	 float: none;
	 height: 14px;
	 padding: 8px 0;
	 text-align: center;
	 width: 126px;
	 margin: 0;

	 
}

.controles ul li ul li a{
	color: black !important; 
 	text-shadow: none;

}

.controles ul li ul li:last-child:not(li.arrow){ 
	border: 0;
	 
}

/* Arrow */
.arrow {
 background: url(../img/arrow.png) no-repeat;
 border: 0;
 display: none;
 position: absolute;
  top: -10px;
  left: 63px;
 height: 11px;
 width: 20px;
 text-indent: -9999px;
 opacity: 0.6;
}

#loading{
	
	position: absolute;
	background: url(../img/loading.gif) no-repeat;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 150px;
    height: 150px;
}

.listaNegocios{
	display: none;
	width: 20%;
	height: 50%;
	position: absolute;
	left: 75%;
	top: 25%;
	background-color: rgba(244,244,244,0.4);
	border-radius: 20px;
	-webkit-box-shadow: 10px 5px 50px -2px rgba(0,0,0,0.61);
	-moz-box-shadow: 10px 5px 50px -2px rgba(0,0,0,0.61);
	box-shadow: 10px 5px 50px -2px rgba(0,0,0,0.61);
	overflow-y: scroll; 
}

 .lista{
	padding: 0 10px 0;
	width: 94%;
}

 .lista .item{
	background-color: rgba(255,255,255,0.8);
		
	 display: block;
	 float: none;
	 height: 7em;
	 padding: 8px 0;
	 text-align: left;
	 width: 100%;
	 margin: 5px 0;
}

 .lista .item .container{
	padding: 0 0.5em;
	float: left;
	width: 95%;
}

 .lista .item .container .datos{
	float: left;
	width: 60%;
	height: 100%

}


 .lista .item .container .datos p{
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #A69E9E;
	font-size: 0.8em;
	
}

 .lista .item .container .img{
	float: left;
	width: 40%;
	height: 100%;
	text-align: center;
}

 .lista .item .container .img img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 0.7em;
	max-width: 60%;
}

 .lista .item .container .img a{
	text-decoration: none;
	padding: 3px;
	color: white;
	display: inline-block;
	width: 3em;
	font-size: 0.7em;
	margin-left: 2px;

}
 #ver{
	background: #D8D8D8;
	border-radius: 40px;
}

 #rute{
	
	background: #80A089;
	border-radius: 40px;
}
/* registro negocios*/

.content {
	
	width: 80%;
	height: 80%;
	position: absolute;
	left: 10%;
	top: 12%;
	background-color: rgba(244,244,244,0.8);
	border-radius: 20px;
	-webkit-box-shadow: 10px 5px 50px -2px rgba(0,0,0,0.61);
	-moz-box-shadow: 10px 5px 50px -2px rgba(0,0,0,0.61);
	box-shadow: 10px 5px 50px -2px rgba(0,0,0,0.61);
}

.tabNegocio, .tabNew{
	font-size: 0.9em;
	display: inline-block;
	margin-right: 0.5em;
}

.tab_container {
	width: 100%;
	height: 100%;
	
	border-radius: 20px;
}
.tab_content {
	width: 100%;
	height: 100%;
 	font-size: 1.2em;
 	position: relative;
}

.tab_content .listaNegocio{
	position: absolute;
 	left: 2em;
 	top: 2em;
 	width: 25%;
 	height: 90%;
 	background: white;
 	border-radius: 20px;
 	overflow-y: scroll;
}

.tab_content .datosNegocios{
	position: absolute;
 	right: 2em;
 	top: 2em;
 	width: 65%;
 	height: 90%;
 	background: white;
 	border-radius: 20px;
 
}

.tab_content .formularioAltas{
	position: absolute;
 	left: 2em;
 	top: 2em;
 	width: 40%;
 	height: 90%;
 	background: white;
 	border-radius: 20px;
 	overflow-y: scroll;
}

.tab_content #mapa{
	position: absolute;
 	right: 2em;
 	top: 2em;
 	width: 50%;
 	height: 90%;
 	background: white;
 	border-radius: 20px;
}





